body,h1,h2,p,ul,li{
margin: 0;
padding: 0;
font-family: sans-serif;
list-style: none;
}

html{
  background-color: rgb(40, 39, 39);
}

body{
  background: #fafafa;
  position: relative;
  overflow-x: hidden;
}



img{
  display: block;
  max-width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

a{
  text-decoration: none;
}

.container{
  background: #fafafa;
  transform-origin: left top;
  position: absolute;
margin: 0 auto;
width: 100%;
  z-index: 99;
  transition: 0.5s ease-out;
  padding: 20px;

}

.container.ativo{
  transition: 0.5s;
transform: rotate(-20deg);
}




.principal{
  max-width: 1200px;
  margin: 150px auto;
  
}

.principal h1{
color: rgb(27, 27, 27) ;
margin-bottom: 5px;
}

.principal span{
color: rgb(179, 176, 176);
margin-bottom: 50px;
}

.principal p {
  margin-top: 25px;
  font-size: 1.1rem;
  color: #616161;
  margin-bottom: 30px;
}


.roda{
  display: flex;
  position: absolute;
  width: 200px;
  height: 200px;
   top: -80px;
  left: -100px;  
  border-radius: 50%;
  background-color:rgb(207, 92, 92);
  align-items: center;
  justify-content: center;
 gap: 40px;
 z-index: 100;
 transition: 0.5s;
}

.roda.ativo{
  transition: 0.5s;
transform: rotate(-90deg);
}
.roda img{
width: 30px;
margin-top:100px;
}

.menu-container{
display: flex;
position: absolute;
width: 200px;
height: 100vh;
align-items: end;
margin-top: 10px;
z-index: 0;

}
.menu-hover{
display: flex;
flex-direction: column;
align-content: start;
gap: 10px;
padding: 30px 40px ;
margin-bottom: 10px;
}



.menu-hover li a{
color: #c9c9c9;
text-transform: uppercase;
font-weight: bold;
align-self: center;
font-size: 1.1rem;
margin-top: 1px;
}

.menu-hover li{
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 1s;
}

.menu-hover li:nth-child(1).ativo{
  animation: rigth 0.5s forwards;
  }

.menu-hover li:nth-child(2).ativo{
padding-left: 20px;
animation: rigth 0.4s forwards;
}

.menu-hover li:nth-child(3).ativo{
  padding-left: 55px;
  animation: rigth 0.3s forwards ease-in;
  }

@keyframes rigth {
  0%{
    transform: translate3d(-200px,0,0);
  }
  90%{
    transform: translate3d(-200px,0,0);
  }

  100%{
    transform: translate3d(0,0,0);
  }
}



.menu-hover li img{
  width: 25px;
  align-self: center;
}