@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body,
h1,
h2,
h3,
h4,
p,
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  font-family: 'Montserrat', sans-serif;
  background: #3494E4;
  height: 100vh;
  color: white;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around
 
}

.drink-ml{
  margin-top: 20px;
  text-align: center;
}

.drink-ml h1{
  color: white;
  font-size: 2.5rem;
}

.drink-ml p {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.drink-copo{
  border: solid 4px #144FC6;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #144FC6;
  min-height: 400px;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
}

.drink-copo h2,
.drink-copo span{
  position: relative;
  z-index: 5;
}

.drink-doses h4{
  text-align: center;
}

.drink-doses{
  align-self: center;
}
.doses{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-top: 20px;
}


.doses li{
  border: solid 4px #144FC6;
  border-radius: 0px 0px 50px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #144FC6;
  min-height: 150px;
  max-width: 50px;
  margin: 0 auto;
  margin-bottom: 30px; 
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.doses li.ativo{
  background-color: aqua;
}

.bebidos{
  position: relative;
  z-index: 2;
}

.agua{
  background:aqua;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0px 0px 48px 48px;
  transition: 1s;
}